<% include ../partials/adminheader %>

<div id="type" style="display: none;">user</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <i class="fab fa-product-hunt"></i>
            Quản lý tài khoản
        </a>

    </div>
</nav>

<br><br>

<div class="container">
    <h3>Thông tin tài khoản</h3>
    <hr>
    <p><strong>Tên đăng nhập: </strong>
        <%=user.username%>
    </p>
    <p><strong>Họ tên: </strong>
        <%=user.fullName%>
    </p>
    <p><strong>E-Mail: </strong>
        <%=user.email%>
    </p>
    <p><strong>Điện thoại: </strong>
        <%=user.phoneNumber%>
    </p>
    <p><strong>Địa chỉ: </strong>
        <%=user.address%>
    </p>
</div>

<% include ../partials/adminfooter %>