
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-home"></i> Trang Chủ</a>
        <form action="/search/" method="GET" class="ml-5 mx-2 my-auto">
            <div class="input-group">
                <input type="text" name="search" class="form-control" id="search-product" placeholder="Tìm sản phẩm">
                <button class="btn btn-warning input-group-append"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <a href="/cart/find">Tra cứu đơn hàng</a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <% if (!currentUser || currentUser.type === 3) { %>
                <li class="nav-item dropdown mt-1">
                    <% if (typeof cart !== "undefined") { %>
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-shopping-cart"></i> (<%= cart.length %>)</a>
                        <ul class="dropdown-menu">
                            <li>
                                <table class="table mx-auto">
                                    <tbody>
                                        <% let total = 0; %>
                                        <% cart.forEach(p => { %>
                                            <tr class="cart-td">
                                                <td class="text-left nonwrap">
                                                    <a href="/product/<%=p.id%>"><%=p.title%></a>
                                                </td>
                                                <td class="text-right nonwrap">x <%= p.quantity %></td>
                                                <td class="text-right nonwrap"><%= formatPrice(p.price) %></td>
                                            </tr>
                                            <% total += p.quantity*p.price %>
                                        <% }) %>
                                        <tr>
                                            <td class="text-left nonwrap">Tổng tiền</td>
                                            <td class="text-rigt"></td>
                                            <td class="text-rigt nonwrap"><%=formatPrice(total)%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <a href="/cart" class="btn btn-warning mb-3 ml-3">
                                    <i class="fas fa-shopping-cart"></i> Xem chi tiết giỏ hàng
                                </a>
                                
                                <a href="/cart/checkout" class="btn btn-warning ml-3">
                                    <i class="fas fa-share"></i> Thanh toán
                                </a>
                            </li>
                        </ul>
                    <% } else { %>
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-shopping-cart"></i> (0)</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="#" class="dropdown-item">Không có  sản phẩm</a>
                        </div>
                    <% } %>
                </li>
                <% } %>
                <% if (!currentUser) { %>
                <li class=" nav-item">
                    <a class="nav-link" href="/login">Đăng Nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Đăng Ký</a>
                </li>
                <% } else { %>
                <li class="nav-item dropdown mt-1">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <%= currentUser.username %></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <% if ( currentUser.type <= 2) { %>
                        <a class="dropdown-item" href="/admin/manage_product">Khu vực quản lý</a>
                        <% } %>
                        <a class="dropdown-item" href="/info">Thông tin</a>
                        <a class="dropdown-item" href="/logout">Đăng xuất</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<br>