<% include ../partials/header %>

<% include ../partials/category_nav %>

<div class="container">
    <div class="row justify-content-center mb-3">
        <form action="/cart/find" method="GET">
            <div class="input-group">
                <input type="text" name="cartid" placeholder="Nhập ID của đơn hàng">
                <button class="btn btn-warning"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>

    <% if (foundCart) { %>
    <div class="row">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th scope="row" colspan="2">Chi tiết đơn nhập mua hàng</th>
                </tr>
                <tr>
                    <th class="nonwrap">Ngày tạo</th>
                    <td>
                        <%= formatDate(foundCart._id) %>
                    </td>
                </tr>
                <tr>
                    <th class="nonwrap">Ngày giao</th>
                    <td>
                        <%= formatDate(foundCart.deliveryDate) %>
                    </td>
                </tr>
                <tr>
                    <th class="nonwrap">Người mua</th>
                    <td>
                        <%= foundCart.fullName %>
                    </td>
                </tr>
                <tr>
                    <th class="nonwrap">Tình trạng</th>
                    <td>
                        <%= foundCart.status %>
                    </td>
                </tr>
                <tr>
                    <th class="nonwrap">E-Mail</th>
                    <td>
                        <%= foundCart.email %>
                    </td>
                </tr>
                <tr>
                    <th class="nonwrap">Địa chỉ</th>
                    <td>
                        <%= foundCart.address %>
                    </td>
                </tr>
                <tr>
                    <th class="nonwrap">Hình thức thanh toán</th>
                    <td>
                        <% if (foundCart.payment == 0) { %>
                        Thu tiền khi nhận hàng
                        <% } else { %>
                        Chuyển khoản ngân hàng
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th class="nonwrap">Lời nhắn</th>
                    <td>
                        <%= foundCart.comment %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Tổng cộng</th>
            </thead>
            <tbody>
                <% foundCart.listItems.forEach(product => { %>
                <tr>
                    <td>
                        <a href="/product/<%= product.id %>"><%= product.title %></a>
                    </td>
                    <td>
                        <%= product.quantity %>
                    </td>
                    <td>
                        <%= formatPrice(product.price) %>
                    </td>
                    <td>
                        <%= formatPrice(product.quantity * product.price) %>
                    </td>
                </tr>
                <% }) %>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Tổng tiền</th>
                    <td>
                        <%= formatPrice(foundCart.totalPrice) %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <% } %>
</div>

<% include ../partials/footer %>